
body{
    background-color: 	#808080;
}

.letreiro{
    text-align: center;
    color: black;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: black 5px 5px 5px;
    
}

.corpo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.peixe{
    color: aquamarine;
}

